.metadata/
TDT4245Firefighters/bin/classes/
TDT4245Firefighters/bin/dexedLibs/
TDT4245Firefighters/bin/classes.dex
TDT4245Firefighters/bin/resources.ap_
TDT4245Firefighters/bin/TDT4245Firefighters.apk
